[package]
name = "windows-service"
version = "0.3.0"
description = "A crate that provides facilities for management and implementation of windows services"
readme = "README.md"
authors = ["Mullvad VPN"]
keywords = ["windows", "service", "daemon"]
categories = ["api-bindings", "os::windows-apis"]
repository = "https://github.com/mullvad/windows-service-rs"
license = "MIT OR Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[target.'cfg(windows)'.dependencies]
bitflags = "1.2"
err-derive = "0.2.4"
winapi = { version = "0.3.8", features = ["dbt", "std", "winbase", "winerror", "winsvc"] }
widestring = "0.4.0"
